body{
   background-image: url('image/pic.jpeg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.dron{
   margin: 150px auto;
   width: 200px;
   position: relative;
   transition: 1s;
}
.dron-pic{
   width: 100%;
}
.left-pic{
   width: 80px;
   top: 0;
   left: -11px;
   position: absolute;
   animation: rotaion .2s linear infinite;
}
.right-pic{
   width: 80px;
   top: 0;
   right: -11px;
   position: absolute;
   animation: rotaion .2s linear infinite;
}
@keyframes rotaion{
   100%{
      transform: rotateY(360deg);
   }
}